$cor1: #F2AE2E;
$cor2: #F2921D;
$cor3: #F27405;
$cor4: #084F8C;
$cor5: #020659;
$cor6: #010326;

.userRegistration {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    max-width: 100vw;

    .formRegister {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border-radius: 9px;
        border: 1px solid #ffffff;
        background-color: #fff;
        padding: 10px;
        min-height: 80vh;
        max-width: 60vw;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
        box-sizing: border-box;

        .headerSection {
            min-height: 30%;
            font-size: 1rem;
            width: 85%;
            color: #fff;
            padding: 10px;
            border-radius: 5px;
            box-sizing: border-box;
            gap: 10px;

            h2 {
                text-align: center;
            }

            p {
                width: 90%;
                margin: 10px 0px;
                text-align: justify;
            }
        }

        form {
            
            display: flex;
            gap: 15px;
            flex-direction: column;
            justify-content: space-around;
            width: 85%;
            height: 60%;

            label {
                display: flex;
                flex-direction: column;
                input {
                    width: 100%;
                    box-sizing: border-box;
                    height: 30px;
                    outline: none;
                    border: none;   
                }
                textarea{
                    outline: none;
                    border: none;
                }
            }
            .buttonsRegister{
                display: flex;
                width: 100%;
                justify-content: flex-end;
                gap: 10px;
            }
            
            .col {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
        
                .cloudIcon {
                    text-align: center;
                }
                .fileSelector {
                    color: #ffffff;
                    padding: 10px;
                    border: none;
                    border-radius: 4px;
                    text-align: center;
                    cursor: pointer;

                    .fileSelectorInput {
                        display: none;
                    }
                }
                
            }
        }
    }

    .day{
        .headerSection{
            background-color: $cor2;
        }
        form{
            label{
                input{
                    border-bottom: 1px solid $cor3;
                }
                textarea{
                    border: 1px solid $cor3;
                }
            }
            .col{
                .fileSelector{
                    background-color: $cor3;
                    
                }
            }
        }
    }
    .night{
        .headerSection{
            background-color: $cor5;
        }
        form{
            label{
                input{
                    border-bottom: 1px solid $cor5;
                }
                textarea{
                    border: 1px solid $cor5;
                }
            }
            .col{
                .fileSelector{
                    background-color: $cor6;
                }
            }
        }
    }

}