$cor1: #F2AE2E;
$cor2: #F2921D;
$cor3: #F27405;
$cor4: #084F8C;
$cor5: #020659;
$cor6: #010326;

.header {
    display: flex;
    max-width: 100vw;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    color: white;
    padding: 10px 30px;
    box-sizing: border-box;

    .logo {
        width: 40%;
        .link {
            text-decoration: none;
            color: white;
            text-align: center;
            font-family: "Leckerli One", cursive;
            font-weight: 400;
            font-style: normal;
            font-size: 2.4rem;
        }
    }
    .title{
        width: 60%;
        display: flex;
        justify-content: space-between;
        align-items: baseline;

    }
    .aux {
        width: 15%;
        display: flex;
        justify-content: flex-end;
        font-size: 1.4rem;
        gap: 5px;
        .linkPanel{
            display: flex;
            gap: 5px;
            text-decoration: none;
            font-size: 1.4rem;
            i{
                display: flex;
                align-items: baseline;
            }
        }
    }
}

.day {
    background-color: $cor2;
    .aux {
        .linkPanel{
            background-color: #fff;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
            font-weight: bold;
            color: #333;
            padding: 5px;
            border-radius: 5px;
        }
        .linkPanel:hover{
            background-color: #333;
            color: $cor2;
        }
    }
}

.night {
    background-color: $cor5;
    .aux{
        height: 100%;
        .linkPanel{
            background-color: #fff;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
            font-weight: bold;
            color: $cor4;
            padding: 5px;
            border-radius: 5px;
        }
        .linkPanel:hover{
            background-color: $cor4;
            color: #E0B892;
        }
    }
}

@media screen and (max-width: 1000px) {
    .header {
        flex-direction: column;
        gap: 10px;
        .logo{
            width: 100%;
            height: 45%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .title {
            width: 100%;
            height: 45%;
            h1, .aux .linkPanel{
                font-size: 1.2rem;
            }
        }
        

    }
}
@media screen and (max-width: 365px) {
    .header {
        .logo{
            .link{
                font-size: 1.8rem
            }
        }
        .title {
            h1 ,.aux .linkPanel{
                font-size: .9rem;
            }
        }

    }
}
@media screen and (max-width: 280px) {
    .header {
        padding: 10px;
        .logo{
            .link{
                font-size: 1.6rem
            }
        }
        .title {
            h1, .aux .linkPanel{
                font-size: .8rem;
            }
        }

    }
}