$cor1: #F2AE2E;
$cor2: #F2921D;
$cor3: #F27405;
$cor4: #084F8C;
$cor5: #020659;
$cor6: #010326;

.eventDescription {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    min-height: 100vh;
    box-sizing: border-box;

    .description {
        width: 100%;
        min-height: 60vh;
        border-radius: 0px 0px 50% 50%;
        box-shadow: 1px 1px 5px #0000009e;
        text-align: center;
        display: flex;
        flex-direction: column;
        color: #fff;
        align-items: center;
        justify-content: center;

        h1{
            font-size: 1.6rem;
            max-width: 90%;
        }
        h3{
            margin-top: 20px;
            max-width: 70%;
        }
    }
    .day{
        background-image: linear-gradient(to bottom right, #{$cor1}, #{$cor2}, #{$cor3});
    }
    .night{
        background-image: linear-gradient(to bottom right, #{$cor4}, #{$cor5}, #{$cor6});
    }
    .register{
        min-height: 40vh;
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: space-around;
        
        button{
            background-color: $cor2;
            color: #fff;
            padding: 10px;
            border: none;
            border-radius: 5px;
            font-size: 1.2rem;
            box-shadow: 1px 1px 5px #0000009e;

        }
        button:hover{
            cursor: pointer;
            background-color: $cor1;
        }
    }
}
@media screen and (max-width: 600px){
    .eventDescription{
        .description{
            border-radius: 0px 0px 40% 40%;
        }
    }
} 
@media screen and (max-width: 500px){
    .eventDescription{
        .description{
            border-radius: 0px 0px 30% 30%;

            h1{
                font-size: 1.4rem;
            }
            h3{
                font-size: 1rem;
                text-align: justify;
            }
        }
    }
}
@media screen and (max-width: 360px){
    .eventDescription{
        .register{
            flex-direction: column;
        }
    }
}
@media screen and (max-width: 300px){
    .eventDescription{
        .description{
            border-radius: 0px 0px 20% 20%;

            h1{
                font-size: 1.1rem;
            }
            h3{
                font-size: .7rem;
            }
        }
        
    }
}